-- Simple COPY template - just like data package but with dynamic stage name
{% if config.preSQL %}
{{ config.preSQL }}
{% endif %}

COPY INTO {{ ref_no_link(node.location.name, node.name) }}
FROM @(
    SELECT stage_name 
    FROM {{ config.controlTableSchema }}.{{ config.controlTableName }} 
    WHERE node_name = '{{ node.name }}' 
    AND environment = '{{ config.environment }}' 
    AND is_active = true
    LIMIT 1
)/{{ config.subfolder }}
FILE_FORMAT = (
    TYPE = '{{ config.fileType }}'
    {% if config.fieldDelim %}
    FIELD_DELIMITER = '{{ config.fieldDelim }}'
    {% endif %}
    {% if config.skipHeader %}
    SKIP_HEADER = {{ config.skipHeader }}
    {% endif %}
)
PATTERN = '{{ config.filePattern }}';

{% if config.postSQL %}
{{ config.postSQL }}
{% endif %}
