-- Simple COPY template for debugging
{% if config.preSQL %}
{{ stage('Pre-SQL') }}
{{ config.preSQL }}
{% endif %}

{{ stage('COPY INTO ' + node.name) }}

COPY INTO {{ ref_no_link(node.location.name, node.name) }}
FROM (
    SELECT 
        $1::VARIANT AS SRC,
        current_timestamp()::timestamp_ntz AS LOAD_TIMESTAMP,
        METADATA$FILENAME AS FILENAME,
        METADATA$FILE_ROW_NUMBER AS FILE_ROW_NUMBER,
        METADATA$FILE_LAST_MODIFIED AS FILE_LAST_MODIFIED,
        METADATA$START_SCAN_TIME AS SCAN_TIME
    FROM @MY_STAGE/DC_POC/2025/08/06
)
FILE_FORMAT = (
    TYPE = '{{ config.fileType }}'
    {% if config.fieldDelim %}
    FIELD_DELIMITER = '{{ config.fieldDelim }}'
    {% endif %}
    {% if config.skipHeader %}
    SKIP_HEADER = {{ config.skipHeader }}
    {% endif %}
)
PATTERN = '.*\.csv$';

{% if config.postSQL %}
{{ stage('Post-SQL') }}
{{ config.postSQL }}
{% endif %}
